footer{
    background-color: black;
    font-size: 12px;
    padding-top: .5em;
    margin-bottom: 0;
    @media (min-width:600px){
        font-size: 20px;
    }
    p{
        text-align: center;
        font-size: 10px;
        margin-left: 15px;
        margin-bottom: 0;
        @media (min-width:600px){
        font-size: 12px;
        padding-bottom: .5rem;
        }
    }
    .iconsfooter a {
        margin: 0 1px;
        @media (min-width:600px){
            margin: 0 5px;
        }
    }
    .footerpadre{
        display: flex;
        justify-content: space-around;
        padding-right: 1rem;
        a , .iconsfooter i {
        &:hover{
            transform: scale(1.2);
            color: white;
            transition: .8s;
        }}
    }

}