.mainnosotros {
    background-image: url("../imagenes/fondo-menu.jpg");
    width: 100vw;
    text-align: center;
    h3{
        text-align: center;
        padding-top: 3rem;
        text-decoration: underline;
        font-size: 2rem;
    }
    .imagenesmenu {
        width: 100vw;
        display: flex;
        flex-direction: column;
        @media(min-width:768px){
            flex-direction: row;
            justify-content: space-around;
            align-content: space-around;
        }
        img{
            width: 90vw;
            padding: 10px 5vw;
            @media(min-width:768px){
                width: 35vw;
            }
        }
    }
    a {
        &:hover{
            transform: scale(1.2);
            color: white;
        }

    }
}