.mainnosotros{
    background-color: black;
    width: 100vw;
    video{
        text-align: center;
        // NO ME DEJA CENTRAR, PUSE MEDIA PARA MAYOR MEDIDAD CON UN VW DE 80 Y NO ME CENTRA
        max-width: 100vw;
        margin: auto;
        @media(min-width:768px){
            max-width: 80vw;
            padding: auto;
        }
    }
    h1{
        text-align: center;
        margin-top: 1.5rem;
    }
    p{
        text-align: center;
        margin: 2rem 0;
        margin-bottom: 3rem;
    }
    // NO PUEDO LOGRAR MODIFICAR EL TAMAÑO DEL ICONO
    // EN LA PAGINA USA STYLE DPNDE PUSE LA CLASE Y DENTRO DE LA EL HEIT Y WIDTH, PERO ASI NO LO PODRIA HACER RESPONSIVE
    .tam_icono_nosotros{
        height: 100px;
        width: 100px;

        @media(min-width:768px){
            height: 75px;
            width: 75px;
        }
        @media(min-width:1024px){
            height: 100px;
            width: 100px;
        }
    }
    h5{
        font-size: .7em;
        @media(min-width:768px){
            font-size: 1em;
        }
        @media(min-width:1024px){
            font-size: 1.5em;
        }

    }
    h6{
        text-align: center;
        font-weight: bold;
        padding: 3rem 0;
        margin-bottom: 0;
        text-decoration: underline;
        &:hover{
            transform: scale(1.2);
        }
        @media(min-width:768px){
            font-size: 1.5em;
        }
        @media(min-width:1024px){
            font-size: 2.5em;
        }
    }
    .containernosotros {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100vw;
        gap: 0px 0px;
        grid-auto-flow: row;
        text-align: center;
        grid-template-areas:
          "ubicacion calidad"
          "reseñas pagos";

      }
      
      .ubicacion { grid-area: ubicacion; }
      
      .calidad { grid-area: calidad; }
      
      .reseñas { grid-area: reseñas; }
      
      .pagos { grid-area: pagos; }
      
      @media(min-width:600px){
        .containernosotros {  display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas:
              "ubicacion calidad reseñas pagos";
    }}}