.pedidos {
    background-image: url("/imagenes/fondopedidos22.jpg");
    background-position: 50%;
    background-size: contain;
    text-align: center;
    padding: 2rem 1rem;

    @media(min-width:768px) {
        display: flex;
        justify-content: center;
    }

    &__reservas {
        @media(min-width:768px){
            width: 50vw;
        }
        h3 {
            font-size: 30px;
            font-weight: bold;
            margin: 15px 0;
            margin-bottom: 25px;
        }


        form {
            display: flex;
            flex-direction: column;

            p {
                margin: 10px 15px;
            }

            .texttitulo {
                font-weight: bold;
                font-size: 15px;
                // text-decoration: underline;
            }

            input {
                margin: 3px 50px;
                border-radius: 20px;
                text-align: center;
                background-color: $colorfondo;
                color: black;

                &:hover {
                    transform: scale(1.2);
                    transition: .8s;
                }

                @media(min-width: 600px) {
                    margin: 3px 100px;
                    padding-bottom: 0;
                }

                @media(min-width: 1200px) {
                    margin: 3px 5rem;
                }
            }

            .retirar {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: 7px;

                p {
                    padding: auto;
                    margin: 0;
                }

                [type=radio] {
                    padding: 0;
                    margin: 0;
                }
            }

            textarea {
                width: 90vw;
                @media(min-width:768px){
                    width: 40vw;
                }
            }
        }
    }

    &__mapa{
        text-align: center;
        @media(min-width:768px){
            margin-top: 1.5rem;
        }
    p {
        font-size: 20px;
        font-weight: bold;
    }
    img{
        display: none;
        @media(min-width:768px){
            text-align: center;
            display: block;
            width: 40vw;
            overflow-x: hidden;
            margin-top: 10px;
        }
    }
    iframe {
        width: 90vw;
        height: 50vh;
        @media(min-width:768px){
            width: 40vw;
            margin: 20px 0;
        }
    }
}}